.about{
    margin-top: 100px;
    color: rgb(70, 70, 70);
}

.center-txt{
    max-width: 70%;
    margin: auto;
}

.logo{
    margin-top: 250px;
}

.center-img{
    text-align: center;
}

.logo-img{
    width: 70%;
    height: 70%;
}

.member{
    margin-top: 150px;
    color: rgb(70, 70, 70);
}

.team{
    margin-top: 50px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.member-txt{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    color: rgb(70, 70, 70);
}

.member-txt p{
    width: 150px;
    text-align: center;
}

.sp-member-txt{
    display: none;
}

.bottom{
    margin-bottom: 100px;
}

@media screen and (max-width: 420px) {

    body{
        overflow: auto;
    }
    
    .logo{
        margin-top: 150px;
    }

    .logo-img{
        width: 85%;
        height: 85%;
    }

    .member-txt{
        display: none;
    }

    .sp-member-txt{
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        overflow: auto;
    }

    .sp-member-txt p{
        width: 150px;
        text-align: center;
    }

    .top{
        margin-top: 50px;
    }

}